@media (min-width: 576px) {
    :root {
      --size-divisor: 2;
    }
  }
  @media (min-width: 768px) {
    :root {
      --size-divisor: 1.5;
    }
  }
  @media (min-width: 992px) { 
    :root {
      --size-divisor: 1;
    }
  }
  @media (min-width: 1200px) { 
    :root {
      --size-divisor: .67;
    }
  }


@font-face {
    font-family: 'kredit';
    src: url(./elements/kredit.ttf);
}

.option-result {
    color: darkblue;
}

body {
    color: rgb(161, 137, 1);
    margin: auto;
    padding: auto;
}

#header {
    color:rgb(161, 137, 1);
    text-align: center;
    padding: 20px;
    font-family: "Kredit";
}

#submit {
    background-color: darkblue;
    color: white;
    border: none;
    font-family: "Kredit";
}

#clear {
    background-color: silver;
    color: black;
    border: none;
    font-family: "Kredit";
}

label {
    font-size: 20px;
}

#displayResults {
    text-align: center;
}

#bankCard {
    background-color: gold;
    margin: auto;
    padding: 10vw 10vw 0vw 10vw;
    border-radius: 15px;
    width: 60vw;
    box-shadow: gray 10px 10px 10px;
}

@media only screen and (max-width: 600px){
    #bankCard {
        width: 100vw;
        margin: auto;
        padding: auto;
    }
}

.name {
    font-family: "Kredit";
    font-size: calc(5vh / var(--size-divisor));
    padding: 0;
    margin: calc(15vh / var(--size-divisor)) 0px 0px calc(10vw / var(--size-divisor));
}
