.option-result {
    color: green;
}

body {
    color: black;
}

#header {
    color: gold;
    text-align: center;
}

#submit {
    background-color: gold;
    color: black;
    border: none;
}

#clear {
    background-color: silver;
    color: black;
    border: none;
}

label {
    font-size: 20px;
}


